body {
    margin: 0%;
    padding: 0%;
    font-family: raleway;
}
.dodo {
    background-color: black;
}
.mn {
    font-weight:900;
}
.ht{
    padding: 0%!important;
}
main {
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background-color: gray;
}
.caja {
    width: 35%;
    height: 200px;
    margin: 3em;
}
section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cajon {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
h2 {
    margin: 1em;
}
I {
   font-size:100PX;
   margin: 20px;
}
.edu {
    width: 25%;
    text-align: center;
}